@font-face {
    font-family: 'Goryeong Strawberry';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/GoryeongStrawberry/GoryeongStrawberry.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GoryeongStrawberry/GoryeongStrawberry.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GoryeongStrawberry/GoryeongStrawberry.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GoryeongStrawberry/GoryeongStrawberry.ttf') format('truetype');
}
